<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206345820667-pknkarkbc39e1m6mc7kkh28m1dukr3qb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206345820667-pknkarkbc39e1m6mc7kkh28m1dukr3qb</string>
	<key>API_KEY</key>
	<string>AIzaSyAFdQL6AEEGjzyL33EQBEIocSiZoBKGSrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>206345820667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.feyzatopgul.SignUp-ImageCache</string>
	<key>PROJECT_ID</key>
	<string>signin-imagecache</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-imagecache.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206345820667:ios:a57d9b334df061161c935e</string>
</dict>
</plist>